# Python cache
__pycache__/
*.pyc

# Logs
logs/

# Checkpoints (VERY BIG FILES)
online_learning/checkpoints/

# Model files
*.pkl

# Runtime data
*.jsonl
runtime_metrics*.json

# System files
.DS_Store